<div class="container">
  <div class="big-card d-flex justify-content-between align-items-center">
    <div class="">
      <%= cl_image_tag @artwork.photo.key %>
    </div>
    <div class="p-5">
     <h1><strong><%= @artwork.title %></strong></h1>
      <p><strong><%= @artwork.price_per_day %>€ par jour</strong></p>
      <p><%= @artwork.description %></p>
      <div data-controller="reveal">
        <div class="d-flex justify-content-center mt-3">
          <%= button_tag "Consulter les dates disponibles", class: "btn btn-ghost", data: { action: 'click->reveal#show' } %>
        </div>

        <div data-reveal-target="form" class="d-none">
          <%= simple_form_for [ @artwork, Booking.new ] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.submit "Réserver cette oeuvre", class: "btn btn-ghost" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%# <h1><strong>L'art chez vous</strong></h1>
      <p>Louez des oeuvres d'art pour un jour, un mois, un an. Selon vos envies.</p>
      <div class="input-group py-3 d-flex">
        <input type="text" class="btn-ghost form-control" placeholder="Un artiste, un style ou un mot-clé" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button class="btn-ghost" type="button">Début</button>
        <button class="btn-ghost" type="button">Fin</button> %>

<%# <div class="container">
  <div class="d-flex justify-content-between">
    <div class="col-6 artwork-info">
      <%= cl_image_tag @artwork.photo.key%>
    <%# </div>
    <div class="col-6 artwork-info">
      <h1><%= @artwork.title %>
      <%# <p><%= @artwork.description</p> %>
      <%# <h2><%= @artwork.price_per_day</h2> %>
      <%# <%= link_to "Réserver cette oeuvre", new_artwork_booking_path(@artwork), class: "btn btn-ghost" %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
