<div class="container">
  <div class="big-card d-flex justify-content-between align-items-top">
    <div class="p-5">
      <h1><strong><%= @artwork.title %></strong></h1>
      <p><strong><%= @artwork.price_per_day %>€ par jour</strong></p>
      <p><%= @artwork.description %></p>

      <div data-controller="reveal">
        <div class="input-group-append d-flex justify-content-center mt-3">
          <%= button_tag "Consulter les dates disponibles", class: "btn btn-ghost", data: { action: 'click->reveal#show' } %>
        </div>

        <div data-reveal-target="form" class="d-none">
          <%= simple_form_for [ @artwork, Booking.new ] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.submit "Réserver cette oeuvre", class: "btn btn-ghost" %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= cl_image_tag @artwork.photo.key %>
    </div>
  </div>

</div>
