<h1>Book a new artwork</h1>

<h2><%= @artwork.title %>, <%= @artwork.price_per_day%></h2>
<p><%= cl_image_tag @artwork.photo.key%></p>

<%= simple_form_for [ @artwork, @booking ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Reserve this artwork", class: "btn btn-primary" %>
<% end %>
