<div class="container">
  <div class="big-card d-flex justify-content-between">
    <div class='p-5'>
      <h1>Mes réservations</h1>
      <% if @bookings.length == 0 %>
        <p>'Vous n'avez pas de réservation en cours !'</p>
      <% else %>
          <% @bookings.each do |booking| %>
            <div class="card-product my-3">
              <%= cl_image_tag booking.artwork.photo.key %>
              <div class="card-product-infos">
                <h5><strong><%= link_to booking.artwork.title, artwork_path(booking.artwork) %></strong></h5>
                <p><strong><%= link_to booking.artwork.title, artwork_path(booking.artwork) %></strong> - du <%= booking.start_date %> au <%= booking.end_date %></p>
                <p><%= link_to "Supprimer ", artwork_path(booking), method: :delete, data: { confirm: "Are you sure?" } %></strong></p>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
    
    <div class='p-5'>
      <h1>Mes oeuvres</h1>
      <% if @user.artworks.length == 0 %>
        <p>'Vous n'avez pas d'oeuvres à louer pour le moment !'</p>
      <% else %>
        <% @user.artworks.each do |artwork| %>
          <div class="card-product my-3">
            <%= cl_image_tag artwork.photo.key %>
            <div class="card-product-infos">
              <h5><strong><%= link_to artwork.title, artwork_path(artwork) %></strong></h5>
              <strong><p><%= link_to artwork.description, artwork_path(artwork) %></strong></p>
              <p><%= link_to "Supprimer ", artwork_path(artwork), method: :delete, data: { confirm: "Are you sure?" } %></strong></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
