
<div class="banner" style="background-image: url(https://www.amesauvage.com/4942-thickbox/tableau-140x140.jpg);">
  <div class="container">
    <h1>Gally</h1> </strong>  <strong>bring artworks at home</strong>!</h1>
    <p>Change your life and get a new Artworks every week </p>
   <%= link_to 'Découvrir toutes nos oeuvres', artworks_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container ">
  <h1>Les différents styles</h1>
  <div class="d-flex justify-content-between">
    <div class="col-3">
      <div class="gallery-tableau">
        <%= image_tag "artwork_1.jpeg", alt: "Photos" %>
        <h2 class="desc">Photos</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="gallery-tableau">
         <%= image_tag "artwork_8.jpeg", alt: "StreetArt" %>
        <h2 class="desc">StreetArt</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="gallery-tableau">
        <%= image_tag "artwork_6.jpeg", alt: "Peinture" %>
        <h2 class="desc">Peinture</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="gallery-tableau">
        <%= image_tag "artwork_11.jpeg", alt: "Abstrait" %>
        <h2 class="desc">Abstrait</h2>
      </div>
    </div>
  </div>
  <%# <h1>decouvrir nos oeuvre liens index</h1> %>


  <h1>Nos artistes a la une </h1>

  <div class="d-flex justify-content-between">
    <div class="col-6">
      <div class="gallery-artiste">
         <%= image_tag "artwork_11.jpeg", alt: "Abstrait" %>
        <h2 class="desc">Picasso </h2>
        <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="gallery-artiste">
         <%= image_tag "artwork_11.jpeg", alt: "Abstrait" %>
        <h2 class="desc">Picasso </h2>
        <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>

</div>

