<div class="container">
  <div class="big-card d-flex justify-content-between align-items-center">
    <div class="p-5">
      <h1 class="title mb-4"><strong>L'art chez vous</strong></h1>
      <h6>Louez des oeuvres d'art pour un jour, un mois, un an.</h6>
      <h6>Selon vos envies.</h6>
      <div class="py-3">
        <%= simple_form_for :search, url: artworks_path, method: :get, html: {class: 'form-inline' } do |f|  %>
          <div class="d-flex justify-content-between align-items-end mt-3">
            <div class="w-100">
              <%= f.input :query, label: false, placeholder: 'Recherchez un style, un artiste...', class: "form-control" %>
            </div>
             <%= f.submit 'Rechercher', class: "btn btn-outline-secondary mb-3 ms-2" %>
          </div>
        <% end %>
        <%# <% <input type="text" class="btn-ghost form-control" placeholder="Un artiste, un style ou un mot-clé" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button class="btn-ghost" type="button">Début</button>
        <button class="btn-ghost" type="button">Fin</button> %>
      </div>
      <div class="input-group-append d-flex justify-content-center mt-3">
      <%=link_to artworks_path do%>
       <button class="btn-yellow-rounded" type="button">Toutes nos oeuvres</button>
       <%end%>
      </div>
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1505909182942-e2f09aee3e89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80" alt="photo">
    </div>
  </div>
</div>

<div class="container mt-5">
  <h1 class="mb-5">Nos styles</h1>

  <div class="card-grid">
    <%= link_to artworks_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/w-i-l-l-p-o-w-e-r-vlad-bubnov.jpg)">
        Photos
      </div>
    <% end %>
    <%= link_to artworks_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.artmajeur.com/medias/standard/j/y/jyrendo/artwork/11637314_streetart-vs-figurativeart-80x60-cm.jpg)">
        StreetArt
      </div>
    <% end %>
    <%= link_to artworks_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.carredartistes.com/products_images/prod_20664/d_figuratif-100-x-100-cm-eric-munsch-sublime-orange-front-0.jpg)">
        Peintures
      </div>
    <% end %>
    <%= link_to artworks_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.artmajeur.com/medias/standard/o/l/olidumont/artwork/7904269_le-retour-aux-sources.jpg)">
        Abstrait
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
    <h1 class="mb-5">Top artistes de la semaine</h1>
    <div class="card-grid-artiste">
      <div class="card-category-artiste" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.catawiki.nl/assets/2020/4/27/1/9/e/19eaaa07-5b10-43fa-93be-90778bbd1eb3.jpg)">
      <span data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer;">Alexander Calder</span>
      </div>
      <div class="card-category-artiste" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sothebys-com.brightspotcdn.com/e2/64/1a594a2b46939614e83b8ee5e79f/marlene-dumas-artist-portrait.jpg)">Marlène Dumas
      </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <h1>Alexander Calder</h1>
        <h6 class="mb-3">Peintre</h6>
        <p style="text-align: justify;">Peintre américain, né le 22 juillet 1898 à Lawnton et mort le 11 novembre 1976 à New York. Il est surtout connu pour ses mobiles ainsi nommés sur proposition de Marcel Duchamp lors de leur exposition à Paris en 1932 à la galerie Vignon, ses assemblages de formes animées par les mouvements de l'air, puis ses stabiles.</p>
        <div class="d-flex justify-content-between align-items-center">
          <img class="rounded" style="max-width: 130px; height: 200px; object-fit: cover;" src="https://images.unsplash.com/photo-1559102877-4a2cc0e37fce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="">
          <img class="rounded" style="max-width: 130px; height: 200px; object-fit: cover;" src="https://images.unsplash.com/photo-1571115764595-644a1f56a55c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="">
          <img class="rounded" style="max-width: 130px; height: 200px; object-fit: cover;" src="https://images.unsplash.com/photo-1602188324312-e1cd6383d2fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
